body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.startBtn{
  font-family: 'Press Start 2P', cursive;
  margin: 25px;
  display: inline-block;
  padding-top: 25px;
  height: 40px;
  width: 90px;
  border: 10px solid black;
  border-radius: 20%;
  background-color: white;
  user-select: none;
  transition: all 0.2s ease-in-out;
}

.startBtn:hover{
  transform: scale(1.1);
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pattern{
 opacity: 50%;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.imgNima{
  width: 1.5rem;
}

.footer {
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  color: #FEF2BF;
  padding-top: 0px;
  /* font-family: sans-serif; */
}

.footerText{
  font-family: 'Press Start 2P', cursive;
  color: #FEF2BF;
}

a{

  text-decoration: none;
  font-family: 'Press Start 2P', cursive;
  color: #DBEDF3;
}

a:hover{
  color: #a2b0b4;
}

